<% if flash[:errors].present? %>
  <strong>Please correct the following errors in the form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="form-group">
  <% form_for @user do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    <br>
    <%= f.label :image %>
    <%= f.text_field :image, class: "form-control" %>
    <br>
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control" %>
    <br>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, class: "form-control" %>
    <br>
    <br>
    <%= f.submit %>
  <% end %>
</div>
