<% if flash[:errors].present? %>
  <strong>Please correct the following errors in the form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ol>
<% end %>


<%= form_for @rotate do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <ul>
    <div class="grid-container">
      <% @sneakers.each do |sneaker| %>
      <div class="grid-item">
        <li><%= cl_image_tag sneaker.image, class: "addToRotate" %> <br> <%= check_box_tag "sneakers[]", sneaker.id, false, id:sneaker.id %>
        <%= label_tag sneaker.id, "#{sneaker.name}" %></li>
      </div>
      <% end %>
    </div>
  </ul>
  <br>
  <br>
  <%= f.submit %>
<% end %>




<!-- <%= form_for @rotate do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :sneakers, "Sneaker 1" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <%= f.label :sneakers, "Sneaker 2" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <%= f.label :sneakers, "Sneaker 3" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <%= f.label :sneakers, "Sneaker 4" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <%= f.label :sneakers, "Sneaker 5" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <%= f.label :sneakers, "Sneaker 6" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <%= f.label :sneakers, "Sneaker 7" %>
  <%= f.collection_select :sneakers, Sneaker.all, :id, :name, prompt: "Select Sneaker" %>
  <br>
  <br>
  <%= f.submit %>
<% end %> -->
