<% if flash[:errors].present? %>
  <strong>Please correct the following errors in the form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="form-group">

  <%= form_for @brand do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <br>
  <%= f.label :founded %>
  <%= f.text_field :founded, class: "form-control" %>
  <br>
  <%= f.label :ceo %>
  <%= f.text_field :ceo, class: "form-control" %>
  <br>
  <%= f.label :hq %>
  <%= f.text_field :hq, class: "form-control", class: "form-control" %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image, class: "form-control" %>
  <br>
  <br>
  <%= f.submit class: "btn-primary, btn-lg" %>
  <% end %>

</div>
