<% if flash[:errors].present? %>
  <strong>Please correct the following errors in the form:</strong>
  <ol>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ol>
<% end %>
<div class="form-group">
  <%= form_for @sneaker, html: {multipart: true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <br>
  <br>
  <%= f.label :silhouette %>
  <%= f.text_field :silhouette, class: "form-control" %>
  <br>
  <br>
  <%= f.label :colorway %>
  <%= f.text_field :colorway, class: "form-control" %>
  <br>
  <br>
  <%= f.label :released %>
  <%= f.text_field :released, class: "form-control" %>
  <br>
  <br>
  <%= f.label :retail_price %>
  <%= f.text_field :retail_price, class: "form-control" %>
  <br>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image, class: "form-control" %>
  <br>
  <br>
  <%= f.label :brand_id %>
  <%= f.collection_select :brand_id, Brand.all, :id, :name, prompt: "Select Brand", class: "form-control" %>
  <br>
  <br>
  <%= f.submit %>
  <% end %>

</div>
